# Application Environment Config
PORT=3000
NODE_ENV=development

# Database Configuration (PostgreSQL)
DB_HOST=localhost
DB_PORT=5432
DB_NAME=nestjs_db
DB_USERNAME=postgres
DB_PASSWORD=postgres_password

# Redis Configuration (BullMQ Queue)
REDIS_HOST=localhost
REDIS_PORT=6379
